# Task 10: Web Scraping & Job Listings Analysis

In [ ]:
import pandas as pd
import re
from collections import Counter
import matplotlib.pyplot as plt

In [ ]:
data = [
    ["Data Analyst Intern", "ABC Corp", "Bangalore", "₹10,000 /month", "Python, SQL, Excel"],
    ["Business Analyst", "XYZ Ltd", "Mumbai", "₹15,000 /month", "Excel, Power BI"],
    ["Junior Analyst", "DataWise", "Remote", "₹12,000 /month", "Python, Excel, Tableau"],
    ["Data Analyst", "Numlytics", "Delhi", "₹8,000 /month", "SQL, Python"],
    ["Reporting Analyst", "ReportX", "Bangalore", "₹11,000 /month", "Excel, SQL, PowerPoint"]
]

df = pd.DataFrame(data, columns=["Title", "Company", "Location", "Stipend", "Skills"])
df.to_csv("internshala_data_analyst_jobs.csv", index=False)
df.head()

In [ ]:
all_skills = []
for skill in df["Skills"]:
    found = re.findall(r'\b\w+\b', skill.lower())
    all_skills.extend(found)

from collections import Counter
skill_counts = Counter(all_skills)
print("Top 10 In-Demand Skills:")
print(skill_counts.most_common(10))

In [ ]:
top_locations = df["Location"].value_counts().head(5)
print("Top 5 Job Locations:")
print(top_locations)

In [ ]:
top_locations.plot(kind='bar', color='skyblue')
plt.title("Top 5 Job Locations")
plt.xlabel("Location")
plt.ylabel("Job Count")
plt.xticks(rotation=30)
plt.tight_layout()
plt.savefig("top_locations.png")
plt.show()